Repository min-andrew/allmaptout: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-lint, frontend-format

rust-fmt:
  run: cd backend && cargo fmt --check

rust-clippy:
  run: cd backend && cargo clippy -- -D warnings

frontend-lint:
  run: cd frontend && pnpm lint

frontend-format:
  run: cd frontend && pnpm format:check

Update README.md
  README.md
Due: none

chore: initial infrastructure
  README.md
  justfile
Due: none

Update README.md
  justfile
  lefthook.yml
Due: none

Update README.md
  Cargo.toml
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/lib.rs
Due: rust-fmt, rust-clippy

Update README.md
  backend/Cargo.toml
  backend/Dockerfile
  frontend/Dockerfile
Due: none

Update README.md
  backend/Dockerfile
  backend/src/lib.rs
Due: rust-fmt, rust-clippy

Update README.md
  backend/Cargo.lock
  backend/Dockerfile
Due: none

ci: add docker build and push to ghcr
  .github/workflows/ci.yml
Due: none

feat: add rate limiting and security headers
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/lib.rs
Due: rust-fmt, rust-clippy

feat: add rate limiting and security headers
  backend/src/lib.rs
  k8s/backend.yaml
  k8s/frontend.yaml
  k8s/ingress.yaml
Due: rust-fmt, rust-clippy

fix: disable rate limiting in development
  backend/src/lib.rs
Due: rust-fmt, rust-clippy

chore: add cargo lockfile
  .gitignore
  frontend/tsconfig.json
Due: none

feat: infrastructure and reliability improvements
  .env.example
  .github/workflows/ci.yml
  LICENSE
  README.md
  backend/.dockerignore
  backend/Cargo.lock
  backend/Cargo.toml
  backend/Dockerfile
  backend/migrations/20240101000000_init.sql
  backend/rust-toolchain.toml
  backend/src/error.rs
  backend/src/lib.rs
  backend/src/main.rs
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/src/api/client.ts
  k8s/backend.yaml
  k8s/cert-manager.yaml
  k8s/frontend.yaml
  k8s/ingress-tls.yaml.example
Due: rust-fmt, rust-clippy, frontend-lint, frontend-format

fix(ci): use explicit Rust 1.85 toolchain with components
  .github/workflows/ci.yml
Due: none

fix(backend): set RUST_ENV in tests to avoid CORS requirement
  backend/src/lib.rs
Due: rust-fmt, rust-clippy

feat(ci): make deploy manual with environment secrets
  .github/workflows/ci.yml
Due: none

fix(ci): run build job on manual trigger
  .github/workflows/ci.yml
Due: none

fix(backend): enable TLS support for SQLx
  backend/Cargo.lock
  backend/Cargo.toml
Due: none

fix: remove rate limiting
  k8s/backend.yaml
Due: none

fix: apply rate limiting to external requests
  backend/src/lib.rs
  k8s/backend.yaml
Due: rust-fmt, rust-clippy

fix: frontend nginx permissions and improve request logging
  backend/src/lib.rs
  frontend/Dockerfile
Due: rust-fmt, rust-clippy

feat(backend): add validation infrastructure with schemas module
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/error.rs
  backend/src/lib.rs
  backend/src/schemas/mod.rs
Due: rust-fmt, rust-clippy

chore: make project a reusable template
  README.md
  setup-template.sh
Due: none

feat: add authentication system (Phase 1)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/migrations/20260104001740_create_guests.sql
  backend/migrations/20260104001741_create_admins.sql
  backend/migrations/20260104001742_create_invite_codes.sql
  backend/migrations/20260104001743_create_sessions.sql
  backend/src/auth/mod.rs
  backend/src/bin/seed.rs
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/models/mod.rs
  backend/src/schemas/mod.rs
  docker-compose.yml
  frontend/astro.config.mjs
  frontend/eslint.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/api/auth.ts
  frontend/src/api/client.ts
  frontend/src/components/AdminLoginForm.svelte
  frontend/src/components/CodeInput.svelte
  frontend/src/components/LogoutButton.svelte
  frontend/src/env.d.ts
  frontend/src/middleware.ts
  frontend/src/pages/admin/index.astro
  frontend/src/pages/admin/login.astro
  frontend/src/pages/events.astro
  frontend/src/pages/index.astro
  justfile
Due: rust-fmt, rust-clippy, frontend-lint, frontend-format

Path conditions:
  rust-fmt: any of: backend/**/*.rs
  rust-clippy: any of: backend/**/*.rs
  frontend-lint: any of: frontend/src/**/*.{ts,svelte,astro}
  frontend-format: any of: frontend/src/**/*.{ts,svelte,astro,css}
